.approver {
    padding: 10px;
    background-color: #ffefed;
    width: 45%;
    margin-left: 2%;
    height: 17vh;
  }
  
  .approver h2 {
    font-size: 2rem;
    color: #113f67;
    text-decoration: solid underline;
    margin-bottom: 20px;
  }
  
  .approver ul {
    color: #a0b0b9;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  .approver li {
    margin-left: 3vh;
    font-size: 1.15rem;
    color: black;
    font-style: italic;
  }
  
  .approver p {
    color: grey;
    margin-left: 2vh;
  }
  