.transfer-approval {
  position: relative;
  top: 5vh;
  text-align: center;
}

.transfer-approval-heading {
  position: relative;
  left: 43%;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #113f67;
  height: 4.5vh;
  width: fit-content;
  background-color: #ffefed;
}

.transfer-approval-table {
  border-collapse: collapse;
  width: 100%;
}

.transfer-approval-table th {
  background: #ffefed;
  color: #113f67;
  padding: 10px;
}
/* ---Splitting the table in required percentages ---*/
.transfer-approval-table th:nth-child(1) {
  width: 10%;
 }
 
 .transfer-approval-table th:nth-child(2) {
  width: 20%;
 }
 
 .transfer-approval-table th:nth-child(3) {
  width: 40%;
 }
 
 .transfer-approval-table th:nth-child(4) {
  width: 15%;
 }
 
 .transfer-approval-table th:nth-child(5) {
  width: 15%;
 }
 

.transfer-approval-table td {
  background: #dfd3c3;
  padding: 18px;
}

.transfer-approval-table tr:nth-child(even) td {
  background: #c7b198;
}

.transfer-approval-table tr:last-child td {
  background: #fff4e0ad;
}

.transfer-approval-table button {
  background: #ffdea0ad;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.transfer-approval-table button:hover {
  transform: scale(1.1);
}
