.transfer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .h1 {
    background-color: #e7eaf6;
    color: #113f67;
    padding: 10px;
    margin-bottom: 10px;
    width: 40%;
  }
  
  input[type="number"],
  input[type="text"] {
    background-color: #e7eaf6;
    padding: 5px;
    margin-bottom: 5px;
    border-color: none;
  }
  
  input[type="number"] {
    width: 40%;
  }
  
  input[type="text"] {
    width: 40%;
    margin-left: 8px;
  }
  
  button.send-eth-button {
    background-color: #a2a8d3;
    padding: 10px;
    color: white;
    cursor: pointer;
  }
  
  button.send-eth-button:hover {
    background-color: #38598b;
  }
  